/* import */
@import "./modules/variables";
@import "./modules/mixins";
@import "./partials/normalize";

/* general */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  scroll-behavior: smooth;
  font-size: 62.25%;
  overflow-x: hidden;
  background: rgb(18,30,56);
  background: linear-gradient(90deg, rgba(18,30,56,1) 0%, rgba(17,66,163,1) 100%);
  background-size: 400% 400%;
  animation: background 20s ease-in-out infinite;
}

body {
  z-index: 0;
}

.wrapper {
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
  font-size: 1.6rem;
  color: $blackColor;
  font-family: "Lato", sans-serif;
}

/* web accessibility */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* section */
.main {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.section {
  height: 100%;
  @include flex(row, center, center);
  background: $whiteColor;
  border-top-left-radius: 0;
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 0;
  box-shadow: 6px 6px 0 #5ac1eb;
}

// .section__wrapper {

// }

/* animations */
@keyframes background {
  0% {
    background-position: 0 50%;
  } 50% {
    background-position: 100% 50%;
  } 100% {
    background-position: 0 50%;
  }
}

@keyframes btnAnimation {
  0% {
    width: 0;
    height: 0;
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0.2;
  }
}